<a href="https://colab.research.google.com/github/aishu200104/DataScienceAssignments/blob/main/DS_ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


ASSIGNMENT 2
> Indented block

In [1]:
#importing requried modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
#from google.colab import files
from sklearn import feature_extraction, model_selection, naive_bayes, metrics, svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support as score
%matplotlib inline

In [2]:
dataset = pd.read_csv('SPAM.csv')

In [3]:
dataset.head()

                                            v1,v2,,,
0  ham,"Go until jurong point, crazy.. Available ...
1               ham,Ok lar... Joking wif u oni...,,,
2  spam,Free entry in 2 a wkly comp to win FA Cup...
3  ham,U dun say so early hor... U c already then...
4  ham,"Nah I don't think he goes to usf, he live...

In [7]:
dataset = dataset.rename(columns = {'v1':'label','v2':'message'})
dataset.head()

                                            v1,v2,,,
0  ham,"Go until jurong point, crazy.. Available ...
1               ham,Ok lar... Joking wif u oni...,,,
2  spam,Free entry in 2 a wkly comp to win FA Cup...
3  ham,U dun say so early hor... U c already then...
4  ham,"Nah I don't think he goes to usf, he live...

In [8]:
dataset.groupby('v1').describe()

KeyError: ignored